.background-contact {
    background-color: #594a9b;
    color: #FFFFFF;
}

.background-contact-title {
    font-weight: 800 !important;
    font-size: 4rem;
}

.background-dark {
    background: #1d1d1d;
    color: #FFFFFF;
    height: 91vh;
    min-height: 91vh;
}

@media only screen and (max-width: 468px) {
    .background-dark {
        background: #1a1c23;
        color: #FFFFFF;
        height: 140vh !important;
        min-height: 140vh !important;
        ;
    }
}

h1 {
    font-weight: 400;
}

h5 {
    color: #272532 !important;
}

.img-rocket-contact {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.section-title {
    font-size: 35pt;
    font-weight: 700;
}

.section-title-lg {
    font-size: 5em;
    font-weight: 700;
}

.text-justify {
    text-align: justify;
}

.text-purple {
    color: #61a1ff !important;
    font-weight: 500;
}

.text-warning-hover:hover {
    color: #ecb22e !important;
}
