.card-img-cover {
    object-fit: cover;
    min-height: 100%;
}

.font-size-3em {
    font-size: 0.3em !important;
}

.hide-text-img-top {
    height: 120px;
}

.hide-text-md {
    width: 20%;
}

.hide-text-lg {
    width: 100%;
}

.text-muted>svg {
    vertical-align: middle;
}

@keyframes gradient-animation {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
}